body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.amazon-header {
  background-color: rgb(19, 25, 33);
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.left-section {
  width: 150px;
}

.left-section img {
  height: 30px;
  margin-left: 20px;
}


.middle-section {
  display: flex;
  width: 850px;
  min-width: 300px;
}

.middle-section input {
  flex: 1;
  width: 0;
  height: 35px;
  border: none;
  font-size: 14PX;
  border-radius: 5px 0px 0px 5px;
  padding-left: 15px;
}

.search-btn {
  background-color: rgb(233, 184, 91);
  height: 38px;
  width: 42px;
  border: none;
  border-radius: 0px 5px 5px 0px;
}

.search-btn img {
  height: 20px;
}

.right-section {
  display: flex;
  justify-content: end;
  width: 180px;
  color: white;
  flex-shrink: 0;
}

.right-section .header-link {
  padding: 6px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0);
}

.order-link {
  color: white;
}

.returns-text {
  display: block;
  font-size: 12px;
}

.orders-text {
  display: block;
  font-size: 15px;
  font-weight: 700;
}

.cart-link {
  color: white;
    display: flex;
    align-items: center;
    position: relative;
}

.cart-link img {
  width: 50px;
}

.cart-quality {
  color: rgb(240, 136, 4);
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  top: 4px;
  left: 22px;
  width: 26px;
  text-align: center;
}

.cart-text {
  font-size: 15px;
  font-weight: 700;
}

.order-link:hover,
.cart-link:hover {
  border: 1px solid white;
  cursor: pointer;
}